
/* E v e n t s */


main.events {
  /* encompasses entire block*/
  width: 80%;
  margin: auto;
}

.events-label {
  font-size: 1.5em;
  border-bottom: 3px solid black;
}

.events-label {
  font-size:2em;

}
.events-info {
  /* e.g. Intro to Coops Teach In!	Tulane Campus	5/5/16	12PM */
  font-weight: bold;
}
.events-description {
  font-style: italic;
}

td {
  border-bottom: 1px solid black;
}
