
/* E v e n t s */


.events { /* encompasses entire block*/ 

}

.events-label {
font-size: 1.5em;
border-bottom: 3px solid black;
}

.events-label {
    font-size:2em;
    font-color: 

}
.events-description {
    font-style: italic;
}
