body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.cta {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.subscribe {

}
.social-media, .subscribe, .donate, .logo {
   margin: 0 1%;
   background-color: grey;
   color: white;
}

.logo-bar {
   padding: 5px 1%;
   display: flex;
   justify-content:space-between;
}

.logo {
    width: 25%;
    height: 100px;
    border: 1px solid black;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.navigation li {
    padding: 0 3px;
}

.slider {
    position: relative;
    background: url('http://lorempixel.com/1920/400/');
    background-repeat: no-repeat;
    background-width: 100%;
    border: 5px solid black;
    width: 100vw;
    height: 400px;
}
.slider-tagline {
    position: absolute;
    bottom: 0;
    left:0;
    background-color: white;
    width: 50%;
    height: 30%;

}

/* featured blocks (grabbing data from other pages) */
.featured-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 25px;
}

.featured {
    width: 30%;
    height: 250px;
    background-color: grey;
    color: white;
}

/* form */
.cta-contact-form {
    width: 100%;
    border: 5px solid

}
.cta-contact-form h1 {
  font-size: 2em;
}
.cta-contact-form label {
    display: block;
}
.cta-contact-form textarea {
    display: block;
}



/* footer */

footer {
    border: 5px solid black;
    width: 100%;
    height: 200px;
    
}

footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

footer nav ul li {
     margin: 5px 2%;
}

.footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 2%;

}

