
.slider {
    position: relative;
    background: url('http://lorempixel.com/1920/400/');
    background-repeat: no-repeat;
    border: 1px dotted;
    height: 400px;
    margin: 1em 0;
}

.slider-tagline {
    padding: 1em 2%;
    font-size: 2em;
    font-weight: bolder;
    color:white;
    position: absolute;
    bottom: 0;
    left:0;
    background-color: black;
    opacity: 0.7;
    width: 50%;
    height: 30%;

  }

/* featured blocks (grabbing data from other pages) */
.featured-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.featured {
    padding: 1em 2%;
    margin: 1em 2%;
    width: 30%;
    height: 250px;
    background-color: grey;
    color: white;
}

/* form */
.cta-contact-form {
    padding: 10px 1%;
    margin: 1em auto;
    width: 80%;
    border: 1px dotted;
    box-sizing: border-box;
}

.cta-contact-form h1 {

}
.cta-contact-form label {
    display: block;
}
.cta-contact-form textarea {
    display: block;
}
