
.slider {
    position: relative;
    background: url('http://lorempixel.com/1920/400/');
    background-repeat: no-repeat;
    border: 1px dotted;
    height: 400px;
}
.slider-tagline {
    position: absolute;
    bottom: 0;
    left:0;
    background-color: white;
    width: 50%;
    height: 30%;
    font-size: 2em;

}

/* featured blocks (grabbing data from other pages) */
.featured-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 25px;
}

.featured {
    width: 30%;
    height: 250px;
    background-color: grey;
    color: white;
}

/* form */
.cta-contact-form {
    padding: 10px 1%;
    margin: auto;
    width: 80%;
    border: 1px dotted;
    box-sizing: border-box;
}

.cta-contact-form h1 {

}
.cta-contact-form label {
    display: block;
}
.cta-contact-form textarea {
    display: block;
}

/* footer */

footer {
    border: 1px dotted;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

footer nav ul li {
    margin: 5px 2%;
}


footer nav ul li a {
    font-size: 1.5em;
}
.footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 2%;

}
