
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body, .sans-serif {
    font-family: "Ubuntu", "PT Sans", "Arial", "Helvetica", "Lucida Grande", "Gill Sans", "Verdana", sans-serif;
}

h1, h2, h3, h4, h5, h6, nav, .serif {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

}

h1 {
     font-size: 2em;
     font-weight: bold;
     margin-bottom: 1em;
}

h2 {
     font-size: 1.5em;
     font-weight: bold;
     margin: 0 0 0.25em 0;
}

h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0px 10%;
  box-sizing: border-box;
}

p {
  font-size: 1.2em;
  margin: 0 0 1em 0;
}